{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}

<div class="form-wrapper">
  <form class="form" method="post" action="/artists/{{artist.id}}/edit">

    <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
    
    <p class="subtitle">
			ID: {{ artist.id }}
      <button type="button" id="delete-artist" data-id="{{ artist.id }}"><i class="fas fa-trash"></i></button>
    </p>

    <div class="form-group">
      <label for="name">Name</label>
      {{ form.name(class_ = 'form-control', autofocus = true) }}
      {% if form.name.errors %}
      <span class="error" style="color:red;">{% for error in form.name.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %}
    </div>

    <div class="form-group">
      <label>City & State</label>
      <div class="form-inline">
        <div class="form-group">
          {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
        </div>
        <div class="form-group">
          {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
        </div>
      </div>
      {% if form.city.errors %}
      <span class="error" style="color:red;">{% for error in form.city.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %}
      {% if form.state.errors %}
      <span class="error" style="color:red;">{% for error in form.state.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %}
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
      {% if form.phone.errors %}
      <span class="error" style="color:red;">{% for error in form.phone.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %}
    </div>

    <div class="form-group">
      <label for="image_link">Enter a link to your profile image</label>
      {{ form.image_link(class_ = 'form-control', placeholder='http//www.example.com/img.jpg', autofocus = true) }}
      {% if form.image_link.errors %}
      <span class="error" style="color:red;">{% for error in form.image_link.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %} 
    </div>

    <div class="form-group">
      <label for="genres">Genres</label>
      <small>Ctrl+Click to select multiple</small>
      {% if form.genres.errors %}
      <p><span class="error" style="color:red;">{% for error in form.genres.errors %}{{error|safe}}{% endfor %}</span></p>
      {% endif %}
      {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
    </div>

    <div class="form-group">
      <label for="website">Website</label>
      {{ form.website(class_ = 'form-control', placeholder='http://www.example.com', autofocus = true) }}
      {% if form.website.errors %}
      <span class="error" style="color:red;">{% for error in form.website.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %}
    </div>

    <div class="form-group">
      <label for="facebook_link">Facebook Link</label>
      {{ form.facebook_link(class_ = 'form-control', placeholder='http://www.facebook.com/artistname', autofocus = true) }}
      {% if form.facebook_link.errors %}
      <span class="error" style="color:red;">{% for error in form.facebook_link.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %}
    </div>

    <div class="form-group">
      <label>
        <span style="margin-right: 5px;">Are looking for places to play?</span>
        {{ form.seeking_venue(class_ = 'form-control', class = 'small-checkbox', autofocus = true) }}
      </label>
      {% if form.seeking_description.errors %}
      <p><span class="error" style="color:red;">{% for error in form.seeking_description.errors %}{{error|safe}}{% endfor %}</span></p>
      {% endif %}
      <div>
        {{ form.seeking_description(class_ = 'form-control', class = 'description-input', placeholder='Tell the world about your music...', autofocus = true) }}
      </div>
    </div>

    <div class="form-group">
      <label for="available_start">Start Time</label>
      {{ form.available_start(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
      {% if form.available_start.errors %}
      <span class="error" style="color:red;">{% for error in form.available_start.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %}
    </div>
    
    <div class="form-group">
      <label for="available_end">End Time</label>
      {{ form.available_end(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
      {% if form.available_end.errors %}
      <span class="error" style="color:red;">{% for error in form.available_end.errors %}{{error|safe}}{% endfor %}</span><br />
      {% endif %}
    </div>

    <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
  
    <!-- invisible field to hold object id -->
    {{ form.id(class_ = 'form-control') }} 

  </form>
</div>

<script>
  document.getElementById("delete-artist").onclick = function(deleteArtist) {
  const ARTIST_ID = deleteArtist.currentTarget.dataset['id'];
  fetch( '/artists/' + ARTIST_ID, {
    method: 'DELETE',
  }).then( response => {
    if ( response.ok ) {
      window.location.href='/artists';
    }
    else {
      console.log ('there was an error on else');
      window.location.href=`/artists/${ARTIST_ID}`;
    }
  }).catch( error => {
    window.location.href=`/`;
  });
}
</script>

{% endblock %}